<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" th:href="@{/css/ecom.css}"/>-->

<head>
    <meta charset="UTF-8">
    <title>Book Bazar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>

<!--<p th:text="'Login Response: ' + ${login}" />-->
<div class="container">
    <h3>Transaction Success</h3>
    <hr>
    <a th:href="@{/ui/catalog}"
       class="btn btn-primary btn-sm mb-3">
        Browse Books to Buy
    </a>
</div>

</body>
</html>